USE [master]
GO
/****** Object:  Database [Pixel]    Script Date: 25.05.2023 13:39:16 ******/
CREATE DATABASE [Pixel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pixel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Pixel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pixel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Pixel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pixel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pixel]
GO
/****** Object:  Table [dbo].[Attempts]    Script Date: 25.05.2023 13:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attempts](
	[IdAttempts] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdTest] [int] NOT NULL,
	[Scores] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Attempts] PRIMARY KEY CLUSTERED 
(
	[IdAttempts] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 25.05.2023 13:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[IdGroups] [int] IDENTITY(1,1) NOT NULL,
	[NameGroups] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[IdGroups] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalData]    Script Date: 25.05.2023 13:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalData](
	[IdPersonalData] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](40) NOT NULL,
	[FirstName] [nvarchar](40) NOT NULL,
	[MiddleName] [nvarchar](40) NULL,
	[DateOfBirth] [date] NOT NULL,
	[IdGroups] [int] NULL,
	[Phone] [nvarchar](17) NOT NULL,
 CONSTRAINT [PK_PersonalData] PRIMARY KEY CLUSTERED 
(
	[IdPersonalData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 25.05.2023 13:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 25.05.2023 13:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[IdTest] [int] IDENTITY(1,1) NOT NULL,
	[NameTest] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[IdTest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25.05.2023 13:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[LoginUser] [nvarchar](40) NOT NULL,
	[PassworUser] [nvarchar](40) NOT NULL,
	[IdRoleUser] [int] NOT NULL,
	[IdPersonalDataUser] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([IdGroups], [NameGroups]) VALUES (1, N'01-1Py')
INSERT [dbo].[Groups] ([IdGroups], [NameGroups]) VALUES (2, N'02-1Py')
INSERT [dbo].[Groups] ([IdGroups], [NameGroups]) VALUES (3, N'03-1Py')
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[PersonalData] ON 

INSERT [dbo].[PersonalData] ([IdPersonalData], [LastName], [FirstName], [MiddleName], [DateOfBirth], [IdGroups], [Phone]) VALUES (1, N'Гапеев', N'Егор', N'Евгеньевич', CAST(N'2003-05-03' AS Date), NULL, N'89261947324')
SET IDENTITY_INSERT [dbo].[PersonalData] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (1, N'Преподаватель')
INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (2, N'Ученик')
INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (3, N'Директор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Test] ON 

INSERT [dbo].[Test] ([IdTest], [NameTest]) VALUES (1, N'Test1')
INSERT [dbo].[Test] ([IdTest], [NameTest]) VALUES (2, N'Test2')
INSERT [dbo].[Test] ([IdTest], [NameTest]) VALUES (3, N'Test3')
SET IDENTITY_INSERT [dbo].[Test] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [LoginUser], [PassworUser], [IdRoleUser], [IdPersonalDataUser]) VALUES (1, N'egor', N'egor', 1, 1)
INSERT [dbo].[User] ([IdUser], [LoginUser], [PassworUser], [IdRoleUser], [IdPersonalDataUser]) VALUES (2, N'obi', N'obi', 2, 1)
INSERT [dbo].[User] ([IdUser], [LoginUser], [PassworUser], [IdRoleUser], [IdPersonalDataUser]) VALUES (3, N'mag', N'mag', 3, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Attempts]  WITH CHECK ADD  CONSTRAINT [FK_Attempts_Test] FOREIGN KEY([IdTest])
REFERENCES [dbo].[Test] ([IdTest])
GO
ALTER TABLE [dbo].[Attempts] CHECK CONSTRAINT [FK_Attempts_Test]
GO
ALTER TABLE [dbo].[Attempts]  WITH CHECK ADD  CONSTRAINT [FK_Attempts_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Attempts] CHECK CONSTRAINT [FK_Attempts_User]
GO
ALTER TABLE [dbo].[PersonalData]  WITH CHECK ADD  CONSTRAINT [FK_PersonalData_Groups] FOREIGN KEY([IdGroups])
REFERENCES [dbo].[Groups] ([IdGroups])
GO
ALTER TABLE [dbo].[PersonalData] CHECK CONSTRAINT [FK_PersonalData_Groups]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_PersonalData] FOREIGN KEY([IdPersonalDataUser])
REFERENCES [dbo].[PersonalData] ([IdPersonalData])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_PersonalData]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role1] FOREIGN KEY([IdRoleUser])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role1]
GO
USE [master]
GO
